.input-personalizado {
    --background: #1C1C1C;
    margin-bottom: 8px;
  }
  
  ion-input {
    --background: #1C1C1C;
    border-radius: 5px;
    padding: 5px;
  }
  
  ion-select {
    --background: #1C1C1C;
    border-radius: 5px;
    padding: 5px;
  }