<style>
  .idade-label {
    font-size: 75%;
  }
</style>


<ion-header collapse="fade">
  <ion-toolbar style="--background: #FF4500;" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button>
        <ion-img src="assets/icon/okcthunder.png" style="width: 24px; height: 24px;"></ion-img>
      </ion-button>
    </ion-buttons>

    <ion-title class="titulo-personalizado">OKLAHOMA CITY THUNDER</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-img src="assets/icon/okcthunder.png" style="width: 24px; height: 24px;"></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-card *ngFor="let posicao of ['ShootingGuard', 'PointGuard', 'SmallForward', 'PowerForward', 'Center']">
    <ion-card-header>
      <ion-card-title style="color: #FF4500;" class="titulo-personalizado">{{ posicao | titlecase }}</ion-card-title>
    </ion-card-header>
    <ion-card-content> 
      <ion-list *ngFor="let jogador of getJogadoresPorPosicao(posicao)">
        <ion-item (click)="editar(jogador)">

          <ion-avatar *ngIf="jogador.downloadURL != null">
            <img src="{{jogador.downloadURL}}"/>
          </ion-avatar>
          <ion-avatar *ngIf="jogador.downloadURL == null">
            <img src="assets/avatar.png"/>
          </ion-avatar>
          <ion-label style="margin-left: 5%;">{{jogador.nome}}</ion-label>
          <ion-label slot="end" class="idade-label">{{jogador.idade}} anos</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="irParaCadastrar()" style="--background: var(--ion-color-quartiary);">
      <ion-icon name="add-circle-outline" style="color: var(--ion-color-quartiary-contrast);"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-fab horizontal="start" vertical="bottom">
    <ion-fab-button (click)="logout()" color="danger" >
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  

</ion-content>